<div id="flash-messages" class="flash-container">
  <% flash.each do |type, message| %>
    <% 
      bg_color = type == "notice" ? "bg-green-50" : "bg-red-50"
      text_color = type == "notice" ? "text-green-800" : "text-red-800"
    %>
    <div class="flash-message rounded-md <%= bg_color %> p-4 mb-4">
      <p class="text-sm font-medium <%= text_color %>"><%= message %></p>
    </div>
  <% end %>
</div>
