<%= form_with model: [:admin, user], local: true, data: { turbo: true } do |f| %>
  <% if user.errors.any? %>
    <div class="rounded-md bg-red-50 p-4 mb-6">
      <div class="text-sm font-medium text-red-800">
        <p class="mb-2"><%= t('activerecord.errors.template.header', model: t('activerecord.models.user'), count: user.errors.count, default: "Please fix the errors below:") %></p>
        <ul class="list-disc list-inside space-y-1">
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= render "shared/forms/user_fields", f: f, cancel_path: admin_users_path %>
<% end %>
